* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  font-size: 1.25rem;
  color: white;
  background: #121212;
}

img,
svg {
  max-width: 100%;
  display: block;
}

/* general styling */

.container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
}

.flow {
  display: grid;
  gap: var(--flow-spacer, 1rem);
}

.page-header {
  padding-block: 5rem;
  margin-block-end: 5rem;
  background-image: url("https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=1200"),
    linear-gradient(-25deg, rgb(0 0 0 / 0), rgb(0 0 0 / 1) 50%);
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
}

.page-title {
  font-size: 4rem;
  margin: 0;
}

.section-title {
  margin-block: 4rem 1rem;
}

/* media scroller */

.media-container {
  position: relative;
  user-select: none;
}

.media-container > input[type="radio"] {
  display: none;
}

.media-overflow {
  padding: 0 3rem;
  overflow-x: hidden;
}

.media-scroller,
.media-group {
  display: grid;
  gap: 0.25rem;
  grid-auto-flow: column;
}

.media-scroller {
  grid-auto-columns: 100%;
  padding: 0 .125rem;
}

.media-scroller {
  margin-left: 0;
  margin-right: 0;
  transition: margin 500ms ease-in-out;
}

.media-container > input[type="radio"]:checked:nth-of-type(2) ~ * .media-scroller {
  margin-left: -100%;
  margin-right: 100%;
}

.media-container > input[type="radio"]:checked:nth-of-type(3) ~ * .media-scroller {
  margin-left: -200%;
  margin-right: 200%;
}

.media-container > input[type="radio"]:checked:nth-of-type(4) ~ * .media-scroller {
  margin-left: -300%;
  margin-right: 300%;
}

.media-group {
  grid-auto-columns: 1fr;
}

.media-element {
  border-radius: 0.25rem;
  overflow: hidden;
}

.media-element > img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.next,
.previous {
  display: flex;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2.875rem;
  padding: 1rem;
  background: rgb(20 20 20 / 0.7);
  opacity: 1;
  border-radius: .2rem;
}

.previous {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.next {
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.media-container > input[type="radio"]:not(:checked):nth-of-type(1) ~ * .media-scroller > :nth-child(1) :where(.next, .previous),
.media-container > input[type="radio"]:not(:checked):nth-of-type(2) ~ * .media-scroller > :nth-child(2) :where(.next, .previous),
.media-container > input[type="radio"]:not(:checked):nth-of-type(3) ~ * .media-scroller > :nth-child(3) :where(.next, .previous),
.media-container > input[type="radio"]:not(:checked):nth-of-type(4) ~ * .media-scroller > :nth-child(4) :where(.next, .previous) {
  display: none;
}

:where(.next, .previous) > svg {
  transition: transform 75ms linear;
  transform: scale(1);
}

.media-container:not(:hover) :where(.next, .previous) > svg {
  visibility: hidden;
}

:where(.next, .previous):hover > svg {
  transform: scale(1.2);
}

/* navigation indicators */

.navigation-indicators {
  position: absolute;
  display: flex;
  gap: 3px;
  top: -1rem;
  right: 2rem;
}

.media-container:not(:hover) .navigation-indicators {
  display: none;
}

.navigation-indicators > * {
  width: 1rem;
  height: 2px;
  background: white;
  opacity: 0.5;
}

.media-container > input[type="radio"]:checked:nth-of-type(1) ~ .navigation-indicators > :nth-child(1),
.media-container > input[type="radio"]:checked:nth-of-type(2) ~ .navigation-indicators > :nth-child(2),
.media-container > input[type="radio"]:checked:nth-of-type(3) ~ .navigation-indicators > :nth-child(3),
.media-container > input[type="radio"]:checked:nth-of-type(4) ~ .navigation-indicators > :nth-child(4) {
  opacity: 1;
}
