* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  font-size: 1.25rem;
  color: white;
  background: #121212;
}

img,
svg {
  max-width: 100%;
  display: block;
}

/* general styling */

.container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
}

.flow {
  display: grid;
  gap: var(--flow-spacer, 1rem);
}

.page-header {
  padding-block: 5rem;
  margin-block-end: 5rem;
  background-image: url("https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=1200"),
    linear-gradient(-25deg, rgb(0 0 0 / 0), rgb(0 0 0 / 1) 50%);
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
}

.page-title {
  font-size: 4rem;
  margin: 0;
}

.section-title {
  margin-block: 4rem 1rem;
}

/* media scroller */

.media-container {
  --items-per-page: 5;
  --grid-gap: 0.25rem;
  --grid-column-width:
  calc( ( 100% - ( var(--items-per-page) - 1 ) * var(--grid-gap) ) / var(--items-per-page) );
  --horizontal-margin: 3rem;
  --border-radius: 0.25rem;
  position: relative;
  user-select: none;
}

.media-container > input[type="radio"] {
  display: none;
}

.media-container ol {
  list-style-type: none;
  padding: 0;
}

.media-overflow {
  padding: 0 var(--horizontal-margin);
  overflow-x: hidden;
}

.media-scroller {
  display: grid;
  gap: var(--grid-gap);
  grid-auto-flow: column;
}

ol.media-scroller {
  grid-auto-columns: var(--grid-column-width);
  padding: 0 calc(var(--grid-gap) / 2);
}

.media-scroller {
  transition: margin 500ms ease-in-out;
  --show-page: 1;
  margin-left: calc(-100% * (var(--show-page) - 1 ));
  margin-right: calc(100% * (var(--show-page) - 1 ));
}

.media-container > input[type="radio"]:checked:nth-of-type(2) ~ * .media-scroller {
  --show-page: 2;
}

.media-container > input[type="radio"]:checked:nth-of-type(3) ~ * .media-scroller {
  --show-page: 3;
}

.media-container > input[type="radio"]:checked:nth-of-type(4) ~ * .media-scroller {
  --show-page: 4;
}

.media-container > input[type="radio"]:checked:nth-of-type(5) ~ * .media-scroller {
  --show-page: 5;
}

.media-container > input[type="radio"]:checked:nth-of-type(6) ~ * .media-scroller {
  --show-page: 6;
}

.media-container > input[type="radio"]:checked:nth-of-type(7) ~ * .media-scroller {
  --show-page: 7;
}

.media-container > input[type="radio"]:checked:nth-of-type(8) ~ * .media-scroller {
  --show-page: 8;
}

.media-container > input[type="radio"]:checked:nth-of-type(9) ~ * .media-scroller {
  --show-page: 9;
}

.media-container > input[type="radio"]:checked:nth-of-type(10) ~ * .media-scroller {
  --show-page: 10;
}

.media-scroller > li {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.media-scroller > li > img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.next,
.previous {
  display: flex;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(var(--horizontal-margin) - var(--grid-gap) / 2);
  padding: 1rem;
  background: rgb(20 20 20 / 0.7);
  opacity: 1;
  border-radius: calc(var(--border-radius) * 4 / 5 );
}

.previous {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.next {
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.media-container > input[type="radio"]:not(:checked):nth-of-type(1) ~ .navigation-buttons > :nth-child(1) :where(.next, .previous),
.media-container > input[type="radio"]:not(:checked):nth-of-type(2) ~ .navigation-buttons > :nth-child(2) :where(.next, .previous),
.media-container > input[type="radio"]:not(:checked):nth-of-type(3) ~ .navigation-buttons > :nth-child(3) :where(.next, .previous),
.media-container > input[type="radio"]:not(:checked):nth-of-type(4) ~ .navigation-buttons > :nth-child(4) :where(.next, .previous),
.media-container > input[type="radio"]:not(:checked):nth-of-type(5) ~ .navigation-buttons > :nth-child(5) :where(.next, .previous),
.media-container > input[type="radio"]:not(:checked):nth-of-type(6) ~ .navigation-buttons > :nth-child(6) :where(.next, .previous),
.media-container > input[type="radio"]:not(:checked):nth-of-type(7) ~ .navigation-buttons > :nth-child(7) :where(.next, .previous),
.media-container > input[type="radio"]:not(:checked):nth-of-type(8) ~ .navigation-buttons > :nth-child(8) :where(.next, .previous),
.media-container > input[type="radio"]:not(:checked):nth-of-type(9) ~ .navigation-buttons > :nth-child(9) :where(.next, .previous),
.media-container > input[type="radio"]:not(:checked):nth-of-type(10) ~ .navigation-buttons > :nth-child(10) :where(.next, .previous) {
  display: none;
}

:where(.next, .previous) > svg {
  transition: transform 75ms linear;
  transform: scale(1);
}

.media-container:not(:hover) :where(.next, .previous) > svg {
  visibility: hidden;
}

:where(.next, .previous):hover > svg {
  transform: scale(1.2);
}

/* navigation indicators */

.navigation-indicators {
  position: absolute;
  display: flex;
  gap: 3px;
  top: -1rem;
  right: 2rem;
}

.media-container:not(:hover) .navigation-indicators {
  display: none;
}

.navigation-indicators > * {
  width: 1rem;
  height: 2px;
  background: white;
  opacity: 0.5;
}

.media-container > input[type="radio"]:checked:nth-of-type(1) ~ .navigation-indicators > :nth-child(1),
.media-container > input[type="radio"]:checked:nth-of-type(2) ~ .navigation-indicators > :nth-child(2),
.media-container > input[type="radio"]:checked:nth-of-type(3) ~ .navigation-indicators > :nth-child(3),
.media-container > input[type="radio"]:checked:nth-of-type(4) ~ .navigation-indicators > :nth-child(4),
.media-container > input[type="radio"]:checked:nth-of-type(5) ~ .navigation-indicators > :nth-child(5),
.media-container > input[type="radio"]:checked:nth-of-type(6) ~ .navigation-indicators > :nth-child(6),
.media-container > input[type="radio"]:checked:nth-of-type(7) ~ .navigation-indicators > :nth-child(7),
.media-container > input[type="radio"]:checked:nth-of-type(8) ~ .navigation-indicators > :nth-child(8),
.media-container > input[type="radio"]:checked:nth-of-type(9) ~ .navigation-indicators > :nth-child(9),
.media-container > input[type="radio"]:checked:nth-of-type(10) ~ .navigation-indicators > :nth-child(10) {
  opacity: 1;
}
